# Practical_3: Iterable objects or Containers

---

### Exercise 1:
Create a list of integers from 1 to 10.

```python
# Exercise 1
```

In [2]:
liste=[1,2,3,4,5,6,7,8,9,10]
liste

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

---

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

```python
# Exercise 2
```

In [3]:
tuple_fruit=("apple", "banana","cherry")
tuple_fruit

('apple', 'banana', 'cherry')

---

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python
# Exercise 3
```

In [4]:
numbers = [10, 20, 30, 40]
numbers_tuple=tuple(numbers)
numbers_tuple

(10, 20, 30, 40)

---

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python
# Exercise 4
```

In [6]:
set_elt={1, 2, 3, 4, 5}
set_elt

{1, 2, 3, 4, 5}

---

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python
# Exercise 5
```

In [7]:
student={'name':"Alice",'age':20,'grade':"A"}
student

{'name': 'Alice', 'age': 20, 'grade': 'A'}

---

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python
# Exercise 6
```

In [11]:
liste_access=[10, 20, 30, 40, 50]
liste_access[1]

20

---

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

```python
# Exercise 7
```

In [12]:
fruits = ["apple", "banana", "cherry", "orange"]
fruits[2]="mango"
fruits

['apple', 'banana', 'mango', 'orange']

---

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 8
```

In [14]:
numbers = {1, 2, 3, 4, 5}
numbers.add(6)
numbers

{1, 2, 3, 4, 5, 6}

---

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```python
# Exercise 9
```

In [15]:
person = {"name": "John", "age": 25, "city": "New York"}
del person["age"]
person

{'name': 'John', 'city': 'New York'}

---

### Exercise 10:
Create a range object starting from 0 to 9.

```python--
# Exercise 10
```

In [17]:
for i in range(1,9):
    print(i)

1
2
3
4
5
6
7
8

---

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python
# Exercise 11
```

In [4]:

new_liste=[x*x for x in range(1,10)]
new_liste

[1, 4, 9, 16, 25, 36, 49, 64, 81]

---

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python
# Exercise 12
```

In [8]:
tuple_even=(x for x in range(2,10) if x%2==0)
for i in tuple_even:
    print(i)

2
4
6
8

---

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python
# Exercise 13
```

In [10]:
fruits = ["apple", "banana", "cherry"]
for i in fruits :
    print(i)

apple
banana
cherry

---

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

In [10]:
numbers = {1, 2, 3, 4, 5}
if 3 in numbers:
    print(True)
else :
    print(False)

True

In [16]:
numbers = {1, 2, 3, 4, 5}
lo=False
for i  in numbers :
    if i==3:
        lo=True
lo

True

---

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

---

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python
# Exercise 15
```

In [3]:
numbers = (10, 20, 30)
len_numbers=len(numbers)
len_numbers

3

---

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16
```

In [24]:

scores = [80, 85, 90, 95]
scores.extend([100])
scores

[80, 85, 90, 95, 100]

In [26]:
scores = [80, 85, 90, 95]
scores.append(100)
scores

[80, 85, 90, 95, 100]

---

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

```python
# Exercise 17
```

In [40]:
def function_list(liste):
    return sum(liste)

In [41]:
function_list([3,4,58])

65

---

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18
```

In [42]:
numbers = [1, 2, 2, 3, 4, 4, 5]
new_numbers= set(numbers)
type(new_numbers)

set

---

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19
```

In [36]:
string="hello"
liste1=[]
for i in string:
    liste1.append(i)
liste1

['h', 'e', 'l', 'l', 'o']

---

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python
# Exercise 20
```

In [43]:
tuple1=(1, 2, 3, 4)
tuple1.inv()
tuple1

AttributeError: 'tuple' object has no attribute 'inverse'

---

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21
```

In [3]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
merged_list = dict1|dict2
print(merged_list)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

```python
# Exercise 22
```

In [4]:
squares_dict = {i: i**2 for i in range(1, 6)}
print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

---

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23
```

In [6]:
my_dictionary={"nom":"Ndoye","prenom":"maimouna","age":23}
for key, value in my_dictionary.items():
    print(f"{key}: {value}")

nom: Ndoye
prenom: maimouna
age: 23

---

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24
```

---

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python
# Exercise 25
```

In [7]:
liste1= [1, 2, 3]
liste2=["a", "b", "c"]
list_of_tuple=zip(liste1,liste2)
print(list_of_tuple)

<zip object at 0x7f000c9ded80>

---

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26
```

In [8]:
liste_26=[10, 20, 30, 40, 50]
liste_26.index(50)

4

---

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python
# Exercise 27
```

In [9]:
names = ["Alice", "Bob", "Charlie", "David"]
sorted_names = sorted(names)
print(sorted_names)

['Alice', 'Bob', 'Charlie', 'David']

---

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python
# Exercise 28
```

---

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python
# Exercise 29
```

In [13]:
fruits = ["apple", "banana", "apple", "orange"]
count_apple=fruits.count("apple")
print(count_apple)

2

---

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python
# Exercise 30
```

In [ ]:
person={'name': 'Alice', 'age': 25, 'city': 'New York'}
rint(my_dict['city'])

---

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python
# Exercise 31
```

---

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python
# Exercise 32
```

In [18]:
def function_intersection(list1_32,list2_32):
    set1 = set(list1_32)
    set2 = set(list2_32)
    intersection_set = set1.intersection(set2)
    return list(intersection_set)
#exwemple:
function_intersection([1,2,3],[5,6,9])

[]

---

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python
# Exercise 33
```

In [19]:
def square_generator():
    for i in range(1, 11):
        yield i * i

---

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python
# Exercise 34
```

In [ ]:
def sum_dictionary_values(input_dict):
  
  return sum(input_dict.values())

---

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python
# Exercise 35
```

In [20]:
list_sort=[3, 1, 4, 1, 5, 9]
print(sorted(list_sort))

[1, 1, 3, 4, 5, 9]

                                                                                                ---

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

```python
# Exercise 36
```

In [ ]:
def find_longest_string(string_list):
  
  if not string_list:
    return None  

  longest_str = ""
    for s in string_list:
    if len(s) > len(longest_str):
        longest_str = s
    return longest_str

---

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python
# Exercise 37
```

In [21]:
my_list = [1, 2, 3, 4, 5]
result = all(x > 0 for x in my_list)
print(result)

True

---

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python
# Exercise 38
```

In [22]:
num_squares = [(x, x**2) for x in range(1, 6)]

---

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

```python
# Exercise 39
```

---

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

```python
# Exercise 40
```

---

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python
# Exercise 41
```

In [23]:
fruits = ["apple", "banana", "cherry"]

for index, fruit in enumerate(fruits):
    print(f"Index: {index}, Value: {fruit}")

Index: 0, Value: apple
Index: 1, Value: banana
Index: 2, Value: cherry

---

### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python
# Exercise 42
```

In [25]:
def check_empty_tuple_len(tup):
    if len(tup) == 0:
        return True
    else:
        return False

---

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python
# Exercise 43
```

In [26]:
even_numbers = list(range(2, 21, 2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

---

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

```python
# Exercise 44
```

In [29]:
def reverse_list(numbers):
    return numbers[::-1]
ex_list = [10, 20, 30]
reversed_ex_list = reverse_list(ex_list)
print( ex_list)
print(reversed_ex_list)

[10, 20, 30]
[30, 20, 10]

---

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```python
# Exercise 45
```

In [30]:
cubes_dict = {num: num**3 for num in range(1, 6)}
print(cubes_dict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

---

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 46
```

In [ ]:
list_46=[1, 2, 2, 3, 4, 4, 5]
list_46_set=set(list_46)

---

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

```python
# Exercise 47
```

In [ ]:
def get_values_for_key(list_of_dictionaries, key):
    
    values = []
    for d in list_of_dictionaries:
        if key in d:
            values.append(d[key])
    return values

---

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python
# Exercise 48
```

In [ ]:
def fibonacci_generator(n):
    
    if n <= 0:
        return
    elif n == 1:
        yield 0
        return
    
    a, b = 0, 1
    yield a
    yield b
    
    for _ in range(2, n):
        next_fib = a + b
        yield next_fib
        a, b = b, next_fib

---

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

```python
# Exercise 49
```

In [ ]:
def get_unique_characters(input_string):
    return list(set(input_string))

---

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

```python
# Exercise 50

---

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python
# Exercise 51
```

In [31]:
numbers = [1, 2, 3, 4, 5, 6]
odd_numbers = list(filter(lambda x: x % 2 != 0, numbers))
print(odd_numbers)

[1, 3, 5]

---

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python
# Exercise 52
```

In [ ]:
def convert_list_of_tuples_to_dict(tuple_list):
    return dict(tuple_list)

---

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

```python
# Exercise 53
```

In [ ]:
def get_symmetric_difference(set1, set2):
  
  return set1.symmetric_difference(set2)

---

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python
# Exercise 54
```

In [ ]:
def find_common_elements_three_lists(list1, list2, list3):
    
    # Convert lists to sets for efficient intersection operations
    set1 = set(list1)
    set2 = set(list2)
    set3 = set(list3)

    # Find the intersection of all three sets
    common_elements_set = set1.intersection(set2, set3)

    # Convert the resulting set back to a list
    common_elements_list = list(common_elements_set)

    return common_elements_list

---

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python
# Exercise 55
```

In [ ]:
def factorial_recursive(n):
  
  if not isinstance(n, int) or n < 0:
    raise ValueError("Input must be a non-negative integer.")
  
  if n == 0:
    return 1
  else:
    return n * factorial_recursive(n - 1)

---

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python
# Exercise 56
```

In [32]:
list_56 = ["apple", "", "banana", "", "cherry"]
filtered_list = [s for s in list_56 if s]
print(filtered_list)

['apple', 'banana', 'cherry']

---

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python
# Exercise 57
```

---

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python
# Exercise 58
```

In [ ]:
def get_even_numbers(numbers):
    even_numbers = []
    for number in numbers:
        if number % 2 == 0:
            even_numbers.append(number)
    return even_numbers

---

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python
# Exercise 59
```

In [33]:
def get_first_elements(list_of_tuples):
  first_elements = [t[0] for t in list_of_tuples]
  return first_elements

---

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python
# Exercise 60
```

---

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python
# Exercise 61
```

---

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python
# Exercise 62
```

In [ ]:
def calculate_average(numbers):
    if not numbers:  
    return 0 
    total_sum = sum(numbers) 
    average = total_sum / len(numbers)

---

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python
# Exercise 63
```

---

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python
# Exercise 64
```

---

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python
# Exercise 65
```

---

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python
# Exercise 66
```

---

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python
# Exercise 67
```

---

### Exercise 68:
Write a Python function that flattens a nested list.

```python
# Exercise 68
```

---

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python
# Exercise 69
```

---

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python
# Exercise 70
```

---

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python
# Exercise 71
```

---

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72
```

---

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73
```

In [ ]:
import math

factorial_list = []
for i in range(1, 6):
    factorial_value = math.factorial(i)
    number_factorial_tuple = (i, factorial_value)
    factorial_list.append(number_factorial_tuple)
print(factorial_list)

---

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74
```

---

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python
# Exercise 75
```

---

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76
```

---

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77
```

---

### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python
# Exercise 78
```

---

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79
```

---

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80
```

---

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81
```

---

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82
```

---

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83
```

---

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python
# Exercise 84
```

---

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python
# Exercise 85
```

---

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86
```

---

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87
```

---

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python
# Exercise 88
```

---

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python
# Exercise 89
```

---

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90
```

---

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91
```

---

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92
```

---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93
```

---

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94
```

---

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95
```

---

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python
# Exercise 96
```

---

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97
```

---

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98
```

---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python
# Exercise 99
```

---

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python
# Exercise 100
```

---