

# Practical_1: Variables and Assignments

----

### Exercise 1:
Declare a variable `x` and assign it the value `10`.

```python
# Exercise 1
```

---

### Exercise 2:
Assign the value `True` to a variable called `is_valid`.

```python
# Exercise 2
```

---

### Exercise 3:
Create a string variable `name` with the value "Python Programming".

```python
# Exercise 3
```

---

### Exercise 4:
Assign the result of `5 + 3` to a variable `sum_result`.

```python
# Exercise 4
```

---

### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

```python
# Exercise 5
```

---

### Exercise 6:
Assign the value of one variable `x` to another variable `y`.

```python
# Exercise 6
```

---

### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

```python
# Exercise 7
```

---

### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

```python
# Exercise 8
```

---

### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

```python
# Exercise 9

```

---

### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

```python
# Exercise 10
```

---

### Exercise 11:
Assign an integer value and a floating-point value to two different variables.

```python
# Exercise 11
```

---

### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

```python
# Exercise 12
```

---

### Exercise 13:
Swap the values of two variables `x` and `y`.

```python
# Exercise 13
```

---

### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

```python
# Exercise 14
```

---

### Exercise 15:
Reassign a variable from an integer to a string.

```python
# Exercise 15
```

---

### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

```python
# Exercise 16
```

---

### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

```python
# Exercise 17
```

---

### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

```python
# Exercise 18
```

---

### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

```python
# Exercise 19
```

---

### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

```python
# Exercise 20
```

---

### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

```python
# Exercise 21
```

---

### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

```python
# Exercise 22
```

---

### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

```python
# Exercise 23
```

---

### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

```python
# Exercise 24
```

---

### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

```python
# Exercise 25
```

---

### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

```python
# Exercise 26
```

---

### Exercise 27:
Assign a negative number to a variable `negative_value`.

```python
# Exercise 27
```

---

### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

```python
# Exercise 28
```

---

### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

```python
# Exercise 29
```

---

### Exercise 30:
### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).
Use a variable to store the result of raising `2` to the power of `8`.

```python
# Exercise 30
```

---

### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

```python
# Exercise 31
```

---

### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

```python
# Exercise 32
```

---

### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

```python
# Exercise 33
```

---

### Exercise 34:
Use variables to store the sum of two floating-point numbers.

```python
# Exercise 34
```

---

### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

```python
# Exercise 35
```

---

### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

```python
# Exercise 36
```

---

### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

```python
# Exercise 37
```

---

### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

```python
# Exercise 38
```

---

### Exercise 39:
Assign a multi-line string to a variable `description`.

```python
# Exercise 39
```

---

### Exercise 39:
Assign a multi-line string to a variable `description`.

```python
# Exercise 40
```

---

### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

```python
# Exercise 41
```

---

### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

```python
# Exercise 42
```

---

### Exercise 43:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

```python
# Exercise 43
```

---

### Exercise 44:
Assign a long sentence to a variable and count its characters using `len()`.

```python
# Exercise 44
```

---

### Exercise 45:
Assign a fractional result `7 / 3` to a variable `division_result`.

```python
# Exercise 45
```

---

### Exercise 46:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

```python
# Exercise 46
```

---

### Exercise 47:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

```python
# Exercise 47
```

---

### Exercise 48:
Use variables to calculate and store the average of three numbers.

```python
# Exercise 48
```

****

## Exercise 1:
Declare a variable x and assign it the value 10.

In [1]:
x=10
x

10

## Exercise 2:
Assign the value True to a variable called is_valid.

In [3]:
is_valid= True

## Exercise 3:
Create a string variable `name` with the value "Python Programming".

In [6]:
name='Python Programming'
print(name)
type(name)

Python Programming

str

### Exercise 4:
Assign the result of `5 + 3` to a variable `sum_result`.

In [7]:
sum_result=5+3
sum_result

8

### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

In [15]:
a = 5
b = 10 
c = 15

15

### Exercise 6:
Assign the value of one variable `x` to another variable `y`.

In [17]:
x=y=4
y

4

### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

In [19]:
gravity=9.8
type(gravity)

float

### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

In [20]:
country="seneagl"
type(country)

str

### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

In [22]:
age=25
age=26
age

26

### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

In [23]:
result=20-7
result

13

### Exercise 11:
Assign an integer value and a floating-point value to two different variables.

In [25]:
val=34
bel=7.9

### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

In [29]:
is_completed

False

### Exercise 13:
Swap the values of two variables `x` and `y`.

In [30]:
x=23
y=x
y

23

### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

In [31]:
complex_num=3+4j
complex_num

(3+4j)

### Exercise 15:
Reassign a variable from an integer to a string.

In [32]:
x=12
y=str(x)
type(y)

str

### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

In [35]:
first_name='maimouna'
last_name='ndoye'
print(first_name,last_name)

maimouna ndoye

### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

In [36]:
temperature=35.5
temperature

35.5


### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

In [40]:
product=8*6 
product

48

### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

In [41]:
sentence=56
type(sentence)

int

### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

In [43]:
n='50'
i=int(n)
i

50

### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

In [44]:
result_div=144/12
result_div

12.0

### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

In [45]:
remainder=47/12
remainder

3.9166666666666665

### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

In [47]:
is_student=True
is_student

True

### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

In [48]:
result_mod=45%4
result_mod

1

### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

In [49]:
pi=3.14159
pi

3.14159

### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

In [52]:
lenght=23
width=14
area=lenght*width
area

322


### Exercise 27:
Assign a negative number to a variable `negative_value`.

In [53]:
negative_value=-456
negative_value

-456

### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

In [84]:
greeting="hello word$"
greeting

'hello word$'


### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

In [57]:
population=12347699887
population

1234769586755362534456879

### Exercise 30:

Use a variable to store the result of raising `2` to the power of `8`.

In [59]:
result_power=2**8
result_power

256


### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

In [60]:
fruits=['mangue','pomme','banane','poire']
fruits

['mangue', 'pomme', 'banane', 'poire']


### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

In [63]:
coordinates=(2,4,78)
type(coordinates)

tuple

### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

In [64]:
person={'maimouna':23,'fatima':35,'zoya':67,'pathe':35}
person

{'maimouna': 23, 'fatima': 35, 'zoya': 67, 'pathe': 35}

In [67]:
person['maimouna']

23

## Exercise 34:
Use variables to store the sum of two floating-point numbers.

In [68]:
var_result=45.8+89.6
var_result

135.39999999999998

### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

In [71]:
is_sunny=10>5
is_sunny

True

### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

In [72]:
name='kama'
age=74
print(name,age)

kama 74

### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

In [73]:
d=34
d=True
d

True


### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

In [74]:
is_weekend=False
is_weekend

False

### Exercise 39:
Assign a multi-line string to a variable `description`.

In [95]:
description="wertyuijkkkldotogtjhhdkfdfjfkgkgfdhjfkkgi"
description

'wertyuijkkkldotogtjhhdkfdfjfkgkgfdhjfkkgi'

### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

In [75]:
floor_div_result=100//6
floor_div_result

16

### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

In [101]:

mixed_sum=1.34+34.67+67.56
mixed_sum

103.57000000000001

### Exercise 43:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

In [100]:
a=10
b=15
result=a>b
result

False

### Exercise 44:
Assign a long sentence to a variable and count its characters using `len()`.

In [81]:
name='maimouna ndoye'
len(name)

14

### Exercise 45:
Assign a fractional result `7 / 3` to a variable `division_result`.

In [83]:
division_result=7/3
division_result

2.3333333333333335

### Exercise 46:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

In [88]:
speed=100/60
speed

1.6666666666666667

### Exercise 47:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

In [89]:
x=56
y=3*x +3
y

171

### Exercise 48:
Use variables to calculate and store the average of three numbers.

In [90]:
a=23
b=45
c=78
mean=(a+b+c)/3
mean

48.666666666666664